body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
} 
canvas {
    position: fixed;
    top: 0;
    left: 0;
}
/*
TODO create main div and put the properties that make the ui stay in place and show in front of the canvas.
TODO get .wmk out of .planet-buttons
*/
.planet-buttons {
    width: 10vw !important;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 120px auto;
    padding: 0px;  
}
button {
    display: block;
    width: 100%;
}
.wmk{
    font-family: sans-serif;
    font-size: 0.85rem;
    opacity: 0.3;
}
